source [find interface/cmsis-dap.cfg]

transport select jtag

adapter speed 100

# NEORV32 TAP (IR length = 5, default IDCODE = 0x0cafe001)
jtag newtap neorv32 cpu \
    -irlen 5
#    -expected-id 0x0cafe001

# RISC-V debug target (External Debug Spec 0.13)
target create neorv32.cpu riscv \
    -chain-position neorv32.cpu

riscv set_prefer_sba on

init
halt
